/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
reports/
.idea
/package-lock.json
/public/css/app.css
/public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.svg
/public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.svg
/public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.svg
public/js/app.js
/public/mix-manifest.json
app/config/app.php
config/app.php
.htaccess